############################
# Python cache / bytecode
############################
__pycache__/
**/__pycache__/
*.py[cod]

############################
# Virtual environments
############################
.env
.venv
venv/
conda_env/
env/

############################
# Logs and runtime files
############################
*.log
nohup.out

############################
# Experiment outputs
############################
output/
outputs/
results/
runs/
checkpoints/
artifacts/
tmp/
data/
red_euler.log
run_pipeline.log
statistics_and_logs/
QA_Generator/output_data/
FactorFilterAgent/failure_key_sampler/vqa_data
FactorFilterAgent/failure_key_sampler/img_with_pipeline_type_and_prefill
############################
# Large data / models
############################
data/
datasets/
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

############################
# OS / editor
############################
.DS_Store
.idea/
.vscode/

FactorFilterAgent/failure_key_sampler/first_error_cases.json
output_1_17_1_statistic*